name: CI - Pytest Develop

on:
  pull_request:
    branches:
      - main
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    # Jobs definition
    runs-on: ${{ matrix.os }}
    if: ${{ !github.event.pull_request.draft }}
    strategy:
      max-parallel: 1
      matrix:
        os: [ubuntu-latest]
        python-version: ['3.13']
    name: pytest (Python ${{ matrix.python-version }}) (OS ${{ matrix.os }})

    # Configure tests
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -e "."
    - name: Test with pytest
      run: |
        pytest -vv